*.o
*.a
*.so
vdr
vdr.pc
include/*
*.swp
*.orig
tags
.dependencies
patches/**
*.mo
*.pot

PLUGINS/src/*

!PLUGINS/src/rcu
!PLUGINS/src/dvbsddevice
!PLUGINS/src/dvbhddevice
!PLUGINS/src/epgtableid0
!PLUGINS/src/hello
!PLUGINS/src/pictures
!PLUGINS/src/svdrpdemo
!PLUGINS/src/skincurses
!PLUGINS/src/osddemo
!PLUGINS/src/servicedemo
!PLUGINS/src/status
